.advantages__list {
  .clear-list;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 256px 330px 256px 256px;
  }
}

.advantages__list-item {
  .clear-list;
  text-align: center;

  &--real-city,
  &--bridge {
    background: @blue;
    text-align: center;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-start: 1;
      grid-column-end: 4;
      padding-top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    &--real-city {
      grid-row: 1;
    }

    &--bridge {
      grid-row: 3;
    }
  }

  &--square,
  &--road,
  &--tourists {
    background: @darkwhite;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid @gray;

    @media (min-width: @tablet-width) {
      padding-top: 42px;
      padding-bottom: 42px;
      padding-left: 34px;
      padding-right: 34px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 62px;
      padding-left: 43px;
      padding-right: 43px;
    }
  }

  &--house {
    background: url("../img/icon-house.svg") 28px 35px no-repeat;
    padding-top: 35px;
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      background-position-y: 60px;
    }
  }

  &--souvenirs {
    background: url("../img/icon-gift.svg") 32px 0 no-repeat;
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      background-position-y: 57px;
    }
  }

  &--eat {
    background: url("../img/icon-burger.svg") 25px 0 no-repeat;
    padding-bottom: 35px;

    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      background-position-y: 63px;
    }
  }

  &--house,
  &--souvenirs,
  &--eat {
    text-align: center;

    @media (max-width: @mobile-width-only) {
      text-align: left;
      padding-left: 75px;
    }

    @media (min-width: @tablet-width) {
      background-size: 75px;
      background-position-x: 90px;
      padding-top: 158px;
      padding-bottom: 59px;
      padding-left: 31px;
      padding-right: 31px;
      margin: 0;
      grid-row: 2;
    }

    @media (min-width: @desktop-width) {
      background-position-x: 161px;
      padding-left: 43px;
      padding-right: 43px;
    }
  }
}

.advantages__img {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;

  @media (max-width: @mobile-width-only) {
    object-fit: cover;
    object-position: center;
    height: 260px;
    width: 320px;
  }

  @media (min-width: @tablet-width) {
    &--city {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    &--bridge {
      grid-column-start: 1;
      grid-column-end: 3;
      order: -1;
    }
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;
}

.advantages__number {
  margin: 0;
  margin-bottom: 25px;
}

.advantages__description {
  margin: 0;
}

.advantages__text-block--white {
  display: block;
  color: @white;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 43px;
  }
}
