.choice {
  display: block;

  input {
    margin: 0 25px;
  }

  span {
    padding-left: 80px;
    text-transform: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  &--checkbox {
    margin-bottom: 24px;


    @media (min-width: @tablet-width) {
      span {
        padding-left: 120px;
      }
    }
  }
}
