.intro__wrapper {
  padding: 0;
  margin: 0;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 41px;
  }

  &--not-main {
    @media (min-width: @tablet-width) {
      padding-bottom: 41px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 56px;
    }
  }
}

.intro__background {
  @media (max-width: @mobile-width-only) {
    background: url("../img/back-mobile.jpg") center 100% no-repeat;
  }

  background: url("../img/back-desktop.jpg") center 100% no-repeat;
  background-size: cover;
}

.intro__background-text {
  &--main {
    display: block;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 85px;

    @media (min-width: @tablet-width) {
      padding-top: 77px;
      padding-bottom: 91px;
    }
  }

  &--not-main {
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 85px;
  }
}

.intro__title {
  margin: 0 auto;
  width: 270px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 36px;

  &--main {
    @media (min-width: @tablet-width) {
      padding-top: 43px;
      width: 520px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 55px;
    }
  }

  &--form {
    @media (min-width: @tablet-width) {
      padding-top: 64px;
      width: 434px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 114px;
    }
  }
}

.intro__description {
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  width: 270px;

  &--main {
    margin-bottom: 14px;
    line-height: 26px;

    @media (min-width: @tablet-width) {
      width: 520px;
    }
  }

  &--form {
    @media (min-width: @tablet-width) {
      width: 434px;
    }
  }
}
