.intro__wrapper {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.intro__background {
  &--main {
    background: url("../img/back-mobile.jpg") no-repeat center;
  }

  &--not-main {
    background: url("../img/back-desktop.jpg") no-repeat center;
  }
}

.intro__background-text {
  &--main {
    display: block;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 85px;
  }

  &--not-main {
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 85px;
  }
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 30px;
}

.intro__description {
  line-height: 24px;
  text-align: center;
  margin: 0 20px;
  margin-top: 35px;

  &--main {
    line-height: 26px;
  }
}
