.social__list {
  .clear-list;
  display: flex;
  justify-content: center;
}

.social__item {
  display: flex;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  text-align: center;
  background: @blue;
}

.social__link {
  margin: auto;
}
