.advantages__list-item {
  &--real-city,
  &--bridge {
    background: #81b3d2;
  }

  &--square,
  &--road,
  &--tourists {
    background: #eeeeee;
    text-align: center;
  }

  &--house,
  &--souvenirs,
  &--eat {
    text-align: left;
  }
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantages__text-block--white {
  color: white;
  text-align: center;
}
