.intro__background-text--main {
  background-image: url("../img/back-mobile.jpg");
}

.intro__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.intro__description {
  line-height: 26px;
  text-align: center;
}
