.site-nav__list {
  background: #81b3d2;
  padding-left: 0;
}

.site-nav__list-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  list-style-type: none;

  &:hover {
    background: #669ec0;
  }

  &:visited {
    background: #669ec0;
  }
}

.site-nav__list-item-link {
  text-decoration: none;
  color: #ffffff;

  &:visited {
    opacity: 0.3;
  }
}
